@using WebSiteBanSach4.Models;
@model List<Sach>

<h1 class="item-header">New Books</h1>

@{
    foreach (var item in Model)
    {
        <div class="activity-list-update">
            <img src="@Url.Content("~/ImageProduct/"+item.AnhBia)" width="50" height="50" alt="Image">
            @if (item.TenSach.Length > 30)
            { 
                <p><strong title="@item.TenSach">Title: @item.TenSach.Substring(0,30)...</strong><br /><a href="@Url.Action("ViewDetails", new {@masach=item.MaSach})">Views details</a></p>
            }
            else
            {
                <p><strong title="@item.TenSach">Title: @item.TenSach</strong><br /><a href="@Url.Action("ViewDetails", new { @masach = item.MaSach })">Views details</a></p>
                <div class="clear"></div>
            }
        </div>
    }
}



<a href="#" class="item-footer green">
    Latest books
</a>

