@using PagedList;
@using PagedList.Mvc;

@model PagedList.PagedList<WebSiteBanSach4.Models.NhaXuatBan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h1>Manager Publisher</h1>

<p>
    @Html.ActionLink("Add New", "ThemMoi")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenNXB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().DienThoai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNXB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "ChinhSua", new { @MaNXB = item.MaNXB }) |
            @Html.ActionLink("Details", "HienThi", new { @MaNXB = item.MaNXB }) |
            @Html.ActionLink("Delete", "Xoa", new { @MaNXB = item.MaNXB })
        </td>
    </tr>
}

</table>
