
@using WebSiteBanSach4.Models;
@model List<GioHang>
@{
    ViewBag.Title = "Update Cart";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<h2>Cart</h2>
<table id="divGioHang">
    <tr>
        <td> Book ID </td>

        <td> Book Name </td>

        <td> Figure </td>

        <td> Price </td>

        <td> Quantity </td>

        <td> Total </td>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@item.iMaSach</td>

            <td>@item.sTenSach</td>

            <td><img src="@Url.Content("~/HinhAnhSP/"+item.sAnhBia)" width="50" height="50"></td>

            <td>@String.Format("{0:0,0}", item.dDonGia)$ </td>
            @*edit cart call to action CapNhapGioHang*@
            @using (Html.BeginForm("CapNhapGioHang", "GioHang", new { @iMaSP = item.iMaSach }))
            {
                <td>@Html.TextBox("txtSoLuong",item.iSoLuong)</td>
                <td>@String.Format("{0:0,0}", item.ThanhTien)$</td>
                <td>
                    <input type="submit" value="Update" />
                    <br />
                    @*edit cart call to action XoaGioHang*@
                    @Html.ActionLink("Delete", "XoaGioHang", new {@iMaSP=item.iMaSach})
                </td>
            }    
        </tr>
    }
</table>

<style>
    #divGioHang {
        border: 3px solid#000000;
        margin-left: 10%;
    }

        #divGioHang td {
            padding: 10px;
            border: 3px solid #000000;
        }
</style>


