@model WebSiteBanSach4.Models.NhaXuatBan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h1>Display Publisher</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNXB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { @MaNXB = Model.MaNXB }) |
    @Html.ActionLink("Back to List", "Index")
</p>
